@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&display=swap')

:root {
--primary-color:#FFE194;
--main-white:#E8F6EF;
--main-black:#4C4C6D;
--main-sky:#B8DFD8;
--spacing:0.1rem;
--transition: all 0.5s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
body{
    color: var(--main-black);
    background-color: var(--main-white);
    font-family: 'Mukta', sans-serif;
}